fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 4px inset;
}

legend {
    width: 40%;
}

a {
    color: #00dd00;
}

#nightMsg, #roomMsg1, #roomMsg2, #roomMsg3 {
    display: none;
    color: #ff0000;
}

#roomTypeField {
    width: 175px;
}

#adultField, #childrenField {
    width: 75px;
}

#stayInfo {
    display: none;
}